<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Ordini</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/blog.css" type="text/css" />


    <style>
    .offcanvas-header {
      width: 100%;
      height: 80px;
      background-color:white;
    }

    .offcanvas-body {
      display: none;
    }

    .offcanvas-body.active {
      display: block;
    }

    .custom-buttone {
      color: black;
      border: none;
      outline: none;
      background-color: transparent;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }

    btn.custom-buttone:hover {
      color: black;
    }

    .spaziatura-verticale {
        margin-bottom: 600px; /* Spazio vuoto sotto il container */
    }


    </style>

</head>
<body>

<div class="continer-fluid mt-3 pt-2 pb-2 border-bottom border-black border-2 sticky-top bg-white ">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <a href="{% url 'home' %}"> <h1 class="text-center semibold text-dark">Ecommerce4You</h1></a>
            </div>
        </div>
    </div>

<div class="container text-center mt-3">
  <h5>Ciao {{ request.user.username }}, ecco lo storico dei tuoi ordini: </h5>
</div>

    <div class="container text-center">

        {% for ordine in ordini %}
                <br>
                <strong> Ordine: </strong> {{ ordine.id }} <br>
                <strong>Data Ordine:</strong> {{ ordine.data_ordine }}<br>
                <strong>Indirizzo Spedizione:</strong> {{ ordine.indirizzo_spedizione }}<br>
                <strong>Stato Ordine:</strong> {{ ordine.get_stato_ordine_display }}<br>
                <strong>Metodo Pagamento:</strong> {{ ordine.metodo_pagamento }}<br>
                {% if ordine.numero_tracciamento %}
                    <strong>Numero Tracciamento:</strong> {{ ordine.numero_tracciamento }}<br>
                {% endif %}
                {% if ordine.note_aggiuntive %}
                    <strong>Note Aggiuntive:</strong> {{ ordine.note_aggiuntive }}<br>
                {% endif %}

                <strong>Prodotti:</strong><br>
                {% for dettaglio in ordine.dettaglioordine_set.all %}
            Prodotto: {{ dettaglio.prodotto.nome }} - {% if dettaglio.taglia %}
                Taglia: {{ dettaglio.taglia }}
                {% elif dettaglio.numero %}
                Numero : {{ dettaglio.numero }}
                {% endif %} - Quantità: {{ dettaglio.quantita }} - Prezzo: {{ dettaglio.prezzo }} <br>



        {% endfor %}

            <br>

            {% if ordine.stato_ordine == "IN_ATTESA" %}
                <form method="POST" action="{% url 'annulla_ordine' ordine.id %}">
                {% csrf_token %}
                    <button type="submit" class="btn btn-sm custom-buttone border border-danger" onclick="return confirm('Sei sicuro di voler annullare questo ordine?');">Annulla ordine</button>
                </form>
            {% endif %}

        {% endfor %}

    </div>

    <div class="container-fluid bg-dark mt-5 pt-4 pb-5 text-white">
        <div class="row">
            <div class="col-xl-4  col-lg-4 col-md-12 col-sm-12 col-12 ps-5 pt-3 ">
                <h1>Ecommerce4You</h1>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 pt-2">
                <h5 class="ps-2">MENU</h5>
                <a type="button"  href="{% url 'chi_siamo' %}" class="btn btn-sm fw-bold custom-buttone "><h6>Chi siamo</h6></a> <br>
                <a type="button"  href="{% url 'termini_legali_e_privacy' %}" class="btn btn-sm fw-bold custom-buttone "><h6>Termini legali e privacy</h6></a> <br>
                <a type="button"  href="{% url 'contatti' %}" class="btn btn-sm fw-bold custom-buttone "><h6>Contatti</h6></a> <br>
                <a type="button"  href="{% url 'cookie' %}" class="btn btn-sm fw-bold custom-buttone "><h6>Cookie</h6></a> <br>


            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ps-3 pt-2">
                <h5>NEWSLETTERS</h5>
                <div>Iscriviti per aggiornamenti e promozioni, per te un codice del 10% di sconto sul primo ordine</div>
                <button type="button"  class="btn  fw-bold custom-buttone pt-2 mt-3 ps-3 pe-3 border "><h6>Iscriviti</h6></button> <br>

            </div>
        </div>
    </div>

</body>
</html>